# My usual, keeps my changes from ending up in the repo.
# This way, if someone who's checked out repo makes changes for their
# own purposes, they don't end up back into the mainstream by accident.
# The inclusion of changes requires a 'force' flag on this file.
.gitignore

# Keep from including these things automatically ...
*.tmp
*.out
*.log

# Keep from including files we want blocked ...
*.ignore

# Chaff left by some programs that should be ignored.
*~

# OS Flotsam there's others but this is a good start.
*/.DS_Store

###>= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
